:root {
    --primary-color: ;
    --secondary-color: ;
    
    --vampire-gradient: linear-gradient(0deg,rgba(62, 7, 3, 1) 0%, rgba(140, 16, 7, 1) 75%);;;
    --guardian-gradient: linear-gradient(0deg,rgba(85, 107, 47, 1) 0%, rgba(198, 216, 112, 1) 100%);;
    --surfer-gradient: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    --bg-info: hsla(0, 0%, 100%, 0.3); 

    --primary-text: ;
    --secondary-text: ;

    --h1: ; 
    --h2: ;
    --h3: ;
    --text-groot: ;
    --text: ;
}