:root {
    --primary-color: ;
    --secondary-color: ;
    
    --vampire-gradient: ;
    --vampire-primary-text: ;
    --varpire-secondary-text: ;
    --guardian-gradient: ;
    --vampire-primary-text: ;
    --varpire-secondary-text: ;
    --surfer-gradient: ;
    --vampire-primary-text: ;
    --varpire-secondary-text: ;

    --h1: ; 
    --h2: ;
    --h3: ;
    --text-groot: ;
    --text: ;
}