:root {
    --primary-color: ;
    --secondary-color: ;
    
    --vampire-gradient: ;
    --vampire-primary-text: ;
    --varpire-secondary-text: ;
    --guardian-gradient: ;
    --vampire-primary-text: ;
    --varpire-secondary-text: ;
    --surfer-gradient: ;
    --vampire-primary-text: ;
    --varpire-secondary-text: ;


}