:root {
    --primary-color: ;
    --secondary-color: ;
    
    --home-gradient: linear-gradient(0deg,rgba(84, 8, 99, 1) 0%, rgba(255, 211, 213, 1) 100%);
    --vampire-gradient: linear-gradient(0deg,rgba(61, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    --guardian-gradient: linear-gradient(0deg,rgba(85, 107, 47, 1) 0%, rgba(198, 216, 112, 1) 100%);
    --surfer-gradient: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    --bg-info: hsla(0, 0%, 100%, 0.3); 

    --primary-text: black;
    --secondary-text: white;

    --h1: ; 
    --h2: ;
    --h3: ;
    --text-groot: ;
    --text: ;
}

select {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1.5rem;
  border-width: 1px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: var(--bg-info);
  border-color: var(--bg-info);
}

select:focus-visible {
  outline-width: 2px;
  outline-color: var(--bg-info);
}
